<div class="jumbotron jumbotron-fluid main-container">
    <div class="container">
        <h1 class="display-4 animated fadeIn fast">¿Quiénes somos?</h1>
        <p class="lead animated fadeIn">En Night Running, creemos que el transporte no es solo mover personas y mercancías de un lugar a otro; es la conexión entre comunidades, negocios y sueños. Por esta razón, cada día nos esforzamos para ofrecer servicios que superen las expectativas
            y que contribuyan al progreso de Ecuador.</p>
    </div>
</div>