<h1>Heroes <small>Marvel y DC</small></h1>
<select [(ngModel)]="tipo" name="tipo">
    <option value="Externo">Externo</option>
    <option value="Interno">Interno</option>
    <option value="Todos">Todos</option>
  </select>
<hr>
<div class="col animated fadeIn fast" *ngFor="let ruta of rutas | buscarTipo:tipo">


    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Origen:{{ruta.origen}}</p>
                    <p class="card-text">Destino:{{ruta.destino}}</p>
                    <p class="card-text"><small class="text-body-secondary">Precio:{{ruta.precio}}</small></p>
                    <p class="card-text"><small class="text-body-secondary">Descripcion:{{ruta.descripcion}}</small></p>
                    <p class="card-text"><small class="text-body-secondary">Tipo:{{ruta.tipo}}</small></p>
                    <button type="button" (click)="verRuta(ruta)" class="text-body-secondary">Ver Mas </button>
                </div>
            </div>
        </div>
    </div>
</div>